In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
sar_df = pd.read_csv("SARstats.csv")
sar_df.head()

,Year Month,State,Industry,Suspicious Activity,Count
0,2015,Alabama,Casino/Card Club - State Licensed Casino,Transaction(s) Below CTR Threshold,1
1,2015,Alabama,Casino/Card Club - State Licensed Casino,[Total],1
2,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Alters or Cancels Transaction to Avoid BSA Rec...,2
3,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Bribery or Gratuity,1
4,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Changes Spelling or Arrangement of Name,1

In [3]:
sar_df.describe()

,Year Month,State,Industry,Suspicious Activity,Count
count,82830,82830,82830,82830,82830
unique,7,61,12,99,5624
top,2019,California,Depository Institution,[Total],1
freq,16267,2975,23002,2819,16322