In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
sar_df = pd.read_csv("SARstats.csv")
sar_df.head()

,Year Month,State,Industry,Suspicious Activity,Count
0,2015,Alabama,Casino/Card Club - State Licensed Casino,Transaction(s) Below CTR Threshold,1
1,2015,Alabama,Casino/Card Club - State Licensed Casino,[Total],1
2,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Alters or Cancels Transaction to Avoid BSA Rec...,2
3,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Bribery or Gratuity,1
4,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Changes Spelling or Arrangement of Name,1

In [13]:
act_count = sar_df[["Suspicious Activity", "Industry", "Year Month"]].groupby(["Suspicious Activity"]).count()

In [14]:
act_count

                                           Industry  Year Month
Suspicious Activity
ACH                                            1268        1268
Account Takeover                               1210        1210
Advance Fee                                     368         368
Against Financial Institution Customer(s)       431         431
Against Financial Institution(s)                338         338
...                                             ...         ...
Unknown Source of Chips                         106         106
Unlicensed or Unregistered MSB                  627         627
Wash Trading                                     49          49
Wire                                           1579        1579
[Total]                                        2819        2819

[99 rows x 2 columns]

In [15]:
sar_df_cl_tot = sar_df.loc[sar_df["Suspicious Activity"]!="[Total]"]
sar_df_cl_tot.head()

,Year Month,State,Industry,Suspicious Activity,Count
0,2015,Alabama,Casino/Card Club - State Licensed Casino,Transaction(s) Below CTR Threshold,1
2,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Alters or Cancels Transaction to Avoid BSA Rec...,2
3,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Bribery or Gratuity,1
4,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Changes Spelling or Arrangement of Name,1
5,2015,Alabama,Casino/Card Club - Tribal Authorized Casino,Check,2